DJANGO_SETTINGS_MODULE=wikibook.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://wikibook:password@db:5432/wikibook
# DATABASE_URL=sqlite:///backend/db.sqlite3
