{% extends 'base.html' %}


{% block body %}

<div class="container">
  <form  method="post" enctype="multipart/form-data" novalidate>
    {% if submitted %} 
  <p class="success">
    Your message was submitted successfully. Thank you.
  </p>

  {% else %}
  
    <h1>Wikipedia Book Creator</h1>
    <table>
      {{ form.as_table }}
    </table>
    <div class="button-container">
      <button type="submit" name="booksubmit" value="Submit" class="button"><span>Submit</span></button>
    </div>
    {% csrf_token %}
  {% endif %}
</form>
</div>
<!----<div id="react-app"></div> --->
{% endblock %}
